<header>Todo App</header>
<div class="todo-list-container">
    <div *ngIf="isLoadingTodoList;else todoList">
        <div class="loading-spinner"></div>
    </div>
    <ng-template #todoList>
        <div *ngFor="let todo of todos" 
            class="todo-list-item" 
            [class.todo-list-item-completed]="todo.isComplete" 
            [class.todo-list-item-overdue]="isOverdue(todo)">
                <div class="todo-list-item__info">
                    <input 
                    aria-label="complete todo"
                    name="checkbox"
                    type="checkbox" 
                    class="todo-list-item__checkbox"
                    (click)="updateTodo(todo.id)"
                    [checked]="todo.isComplete"/> 
                    <div 
                        class="todo-list-item__name"> 
                        {{todo.description}} 
                    </div>
                </div>
                <div> 
                    {{todo.dueDate | date:'M/d/yy'}} 
                </div>
        </div>
    </ng-template>
</div>

